<!DOCTYPE html>
<html>
<head>
	<title>::Home::</title>
</head>
<body style="background-color:#fff564;">

	<h1 style="color: red;font-size: 40px;font-weight:bold;text-align: center;border-style: solid; border-radius: 80px;">Welcome To HomePage</h1>

	<h2 style="color: blue;font-size: 30px;font-weight:bold;text-align: center;border-style: dotted;border-radius: 70px;">Welcome To Workshop</h2>

	<h3 style="color: green; font-size: 60px; font-weight: bold; text-align: center;border-style: dashed;border-radius: 70px;"></h3>

	<h4 style="border-style: double; color: #ffa454; border-radius: 20px; text-align: center;">Welcome to Python</h4>
</body>
</html>