<!DOCTYPE html>
<html>
<head>
	<title>Form Page</title>
</head>
<body>

<img src="/static/images/Banner.png" height="30%" width="100%">

<h2>Form Example</h2>
<form action="{% url 'forms' %}" method="POST">
{% csrf_token %}
<label>Name: </label>
<input type="text" name="name" placeholder="Enter your Name" required><br><br>
<label>Email: </label>
<input type="email" name="email" placeholder="Enter your Email" required>
<br><br>
<label>DOB:</label>
<input type="date" name="dob">
<!-- <br><br>
<label>File:</label>
<input type="file" name="file"> -->
<br><br>
<label>Select Your Branch</label>
<select name='branch'>
	<option>ECE</option>
	<option>CSE</option>
	<option>IT</option>
	<option>EEE</option>
	<option>ME</option>
	
</select>
<br><br>
<label>Gender</label><br><br>
<input type="radio" name="gender" value="Male">Male
<input type="radio" name="gender" value="Female">Female<br>
<br>
<input type="submit" value="Register">

<button>Login</button>
</form>
</body>
</html>