<!DOCTYPE html> 
<html>
<head>
	<title>Index Page</title>
</head>
<body>
	<center>
	<h1>Welcome to APSSDC Django Session</h1>
	<h2>Welcome to APSSDC Django Session</h2>
	<h3>Welcome to APSSDC Django Session</h3>
	</center>
	<h4>Welcome to APSSDC Django Session</h4>
	<h5>Welcome to APSSDC Django Session</h5>
	<h6>Welcome to APSSDC Django Session</h6>

	<p>Good Evening to All<br>welcome to django session</p>

	<a href="{% url 'home' %}">Home Page</a>

	<h2>List Examples</h2>
	<ul>
		<li>Python</li>
		<li>Java</li>
		<li>DA</li>
		<li>ML</li>
	</ul>

	<ol>
		<li>Django</li>
		<li>Flask</li>
		<li>Bootle</li>
		<li>Web2py</li>

	</ol>
	<dl>
		<dt>Languages</dt>
		<dd>Python,Java,DA,ML</dd>
		<dt>Framworks</dt>
		<dd>Django,Flask,Web2py,Bootle</dd>

	</dl>







</body>
</html>