<!DOCTYPE html>
<html>
<head>
	<title>Table Page</title>
</head>
<body>
	<center>
	<h1>Table Example</h1>
	
	<table border="1px">
		<thead>
			<th>SNO</th>
			<th>Name</th>
			<th>College</th>
			<th>Email</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Srinivas</td>
				<td>SACET</td>
				<td>@apssdc.in</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Viswanth</td>
				<td>SACET</td>
				<td>@gmail.com</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Sieesha</td>
				<td>RGUKT</td>
				<td>@gmail.com</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Anil</td>
				<td>QISCET</td>
				<td>@apssdc.in</td>
			</tr>


		</tbody>

	</table>
	<a href="{% url 'forms' %}">Form Page</a>
	</center>

</body>
</html>