{% extends 'accounts/base.html'%}

{% block content %}

<div class="container card card-body mt-3 col-md-4" style="background-color: cyan">
	<h3 class="alert alert-warning text-center">ChangePasswsord</h3>
	<form action="#" method="POST">
		{% csrf_token %}
		<label for="old">OldPassword*</label>
		<input type="password" name="oldpwd" class="form-control" placeholder="Enter old****" id="old">

		<label for="new">NewPassword*</label>
		<input type="password" name="newpwd" class="form-control" placeholder="Enter New****" id="new">

		<label for="con">Re-EnterPassword*</label>
		<input type="password" name="conpwd" class="form-control" placeholder="Enter old****" id="con">

		<div class="text-center">
			<input type="submit" value="Change" class="btn btn-warning btn-lg mt-3">
		</div>
	</form>
</div>

{% endblock content %}