{% extends 'accounts/base.html'%}
{% block content %}


<div class="container mt-4 card card-body col-md-6" style="background-color: lightgreen">

	<h1 class="alert alert-success text-center">ViewProfile</h1>
	<table class="table table-bordered table-hover table-stripped">
		
		
		<tr>
			<th>USER_ID:-</th>
			<td>{{user.id}}</td>
		</tr>
		<tr>
			<th>Image:-</th>
			<td><img src="{{pro.image.url}}" style="width: 100px; height: 100px;"></td>
		</tr>


		<tr>
			<th>FullName:-</th>
			<td>{{user.first_name}}{{user.last_name}}</td>
		</tr>

		<tr>
			<th>UserName:-</th>
			<td>{{user.username}}</td>
		</tr>

		<tr>
			<th>Email:-</th>
			<td>{{user.email}}</td>
		</tr>

		<tr>
			<th>Gender:-</th>
			<td>{{pro.gender}}</td>
		</tr>

		<tr>
			<th>Dob:-</th>
			<td>{{pro.dob}}</td>
		</tr>

		<tr>
			<th>MobileNo:-</th>
			<td>{{pro.mobileno}}</td>
		</tr>

		<tr>
			<th>Address:-</th>
			<td>{{pro.address}}</td>
		</tr>
	</table>
	<div class="text-center">
		<a href="{% url 'updateprofile' %}" class="btn btn-outline-danger btn-lg mt3">Update</a>
	</div>
</div>
{% endblock %}