#header,p{
	color: green;
	font-size: 50px;
	border-style: solid;
	border-radius: 60px;
	text-align: center;
}

.loginpage{
	text-align: center;
	border-style: dashed;
	border-color: red;
	background-color: pink;
	font-weight: bold;
	border-width: thick; /*thin,thick,medium,5px;*/
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 90px;
}

input[type =submit]{
	background-color: orange;
	border:none;
	color: white;
	padding: 20px,20px;
	margin: 20px,20px;
	font-size: 25px;
}

*{
	background-color: gold;
}

