{% extends 'student/index.html' %}

{% block content %}

<div class='container'>
		<h1>Update Form</h1>
		<form method='POST' action="{% url 'edit' data.id %}">
			{% csrf_token %}
			
			First Name:<input type="text" name="fname" class='form-control' value='{{data.First_Name}}'>
			Last Name:<input type="text" name="lname" class='form-control' value='{{data.Last_Name}}'>
			Age:<input type="number" name="age" class='form-control' value='{{data.Age}}'>
			Email:<input type="email" name="mail" class='form-control' value='{{data.Email}}'>
			Phone Number:<input type="number" name="phone" class='form-control' value='{{data.phone}}'>
			<input type="submit" name="submit" value='Edit' class='btn btn-primary'>
		</form>
</div>

{% endblock %}